main {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

.quote {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}